/* Navbar CSS */
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  
  .nav-main h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
  }
  
  .nav-main ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-main ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-main ul li a:hover {
    color: var(--primary-color);
  }
  
  @media (max-width: 768px) {
    .nav-main {
      /* flex-direction: column; */
      align-items: flex-start;
    }
  
    .nav-main ul {
      margin-top: .2rem;
    }
  }